* {
    margin: 0;
    padding: 0;
}

body{
   color: black;
   
   background-color: rgb(222, 230, 236);
    
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: ;
}

.logoContent {
    height: 100vh;
    width: 30vw;
    background-image: url("images/water.jpg");
    background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#citation {
    position: absolute;
    bottom: 0px;
}

.mainContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(236, 246, 248);
}

.header {
    height: 25vh;
    /* background-color: grey; */
}

.form {
    display: flex;
    flex-direction: row;;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    /* background-color: bisque; */
}

.infoSet1, .infoSet2 {
    display: flex;
    flex-direction: column;
    height: 20px;
}

.login {
    /* background-color: sienna; */
    height: 25vh;
}

#passwordError {
    font-size: 10px;
    position: relative;
    display: none;
    background-color:burlywood;
}